examples/basic-demo.json
[{"id":"3e405759.47e018","type":"link2 out","z":"7110fb4f.37b284","name":"control 1","links":[],"topic":"one","useMsgTopic":false,"x":240,"y":240,"wires":[]},{"id":"4af6cc83.09ff94","type":"inject","z":"7110fb4f.37b284","name":"","topic":"","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["3e405759.47e018"]]},{"id":"621168d.8a12e98","type":"debug","z":"7110fb4f.37b284","name":"output 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":420,"y":40,"wires":[]},{"id":"57067554.84924c","type":"debug","z":"7110fb4f.37b284","name":"output 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":420,"y":100,"wires":[]},{"id":"8c476450.cc5fd8","type":"link2 out","z":"7110fb4f.37b284","name":"all","links":[],"topic":"all","useMsgTopic":false,"x":590,"y":280,"wires":[]},{"id":"eeb42ae.c27a858","type":"debug","z":"7110fb4f.37b284","name":"output 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":420,"y":160,"wires":[]},{"id":"2994bbbc.aaec34","type":"link2 out","z":"7110fb4f.37b284","name":"control 2","links":[],"topic":"two","useMsgTopic":false,"x":240,"y":320,"wires":[]},{"id":"a210c1c6.5c717","type":"inject","z":"7110fb4f.37b284","name":"open","topic":"two","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":220,"wires":[["8c476450.cc5fd8"]]},{"id":"8b51ad9a.c709c8","type":"inject","z":"7110fb4f.37b284","name":"close","topic":"control","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":260,"wires":[["8c476450.cc5fd8"]]},{"id":"95e7d8b0.53d058","type":"inject","z":"7110fb4f.37b284","name":"toggle","topic":"control","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":300,"wires":[["8c476450.cc5fd8"]]},{"id":"b63018d6.728c08","type":"inject","z":"7110fb4f.37b284","name":"reset","topic":"control","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":340,"wires":[["8c476450.cc5fd8"]]},{"id":"c0bac16e.51087","type":"inject","z":"7110fb4f.37b284","name":"input","topic":"input message","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["a5e37b8b.c5e85","ba91a0f2.2a2048","7df2f59d.4b38f4"]]},{"id":"9fa5f5c7.d2b03","type":"inject","z":"7110fb4f.37b284","name":"","topic":"","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["3e405759.47e018"]]},{"id":"a5e37b8b.c5e85","type":"link2 in","z":"7110fb4f.37b284","name":"gate 1","topic":"one","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":270,"y":40,"wires":[["621168d.8a12e98"]]},{"id":"ba91a0f2.2a2048","type":"link2 in","z":"7110fb4f.37b284","name":"gate 2","topic":"two","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":270,"y":100,"wires":[["57067554.84924c"]]},{"id":"7df2f59d.4b38f4","type":"link2 in","z":"7110fb4f.37b284","name":"gate 3","topic":"three","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":270,"y":160,"wires":[["eeb42ae.c27a858"]]},{"id":"f62b71e0.8860a","type":"inject","z":"7110fb4f.37b284","name":"toggle","topic":"control","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["2994bbbc.aaec34"]]},{"id":"f6681f08.6697a8","type":"inject","z":"7110fb4f.37b284","name":"reset","topic":"control","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["2994bbbc.aaec34"]]}]