examples/complex-demo.json
[{"id":"f3a111d1.904878","type":"debug","z":"e3f11726.dffe3","name":"output 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":40,"wires":[]},{"id":"f6911d10.871a9","type":"debug","z":"e3f11726.dffe3","name":"output 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":100,"wires":[]},{"id":"7b5891fd.8ae0e","type":"debug","z":"e3f11726.dffe3","name":"output 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":160,"wires":[]},{"id":"33de73bf.99a944","type":"inject","z":"e3f11726.dffe3","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["2ab26605.e09b32","de45d0a2.361028","3b1e2c83.2eba24"]]},{"id":"31bb9e1c.9c18aa","type":"function","z":"e3f11726.dffe3","name":"cycle","func":"var n = context.get('count') || 0;\ncontext.set('count',(n+1));\nvar arr = [Boolean((n&4)!==0),Boolean((n&2)!==0),Boolean((n&1)!==0)];\nvar msgs = [{topic:1,payload:arr[0]?'open':'close'},\n{topic:2,payload:arr[1]?'open':'close'},\n{topic:3,payload:arr[2]?'open':'close'}];\nreturn [msgs];\n","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["48903295.951e8c"]]},{"id":"4c8aed88.453344","type":"inject","z":"e3f11726.dffe3","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["31bb9e1c.9c18aa"]]},{"id":"2ab26605.e09b32","type":"link2 in","z":"e3f11726.dffe3","name":"gate 1","topic":"1","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":290,"y":40,"wires":[["f3a111d1.904878"]]},{"id":"48903295.951e8c","type":"link2 out","z":"e3f11726.dffe3","name":"","links":[],"topic":"","useMsgTopic":true,"x":440,"y":240,"wires":[]},{"id":"de45d0a2.361028","type":"link2 in","z":"e3f11726.dffe3","name":"gate 2","topic":"2","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":290,"y":100,"wires":[["f6911d10.871a9"]]},{"id":"3b1e2c83.2eba24","type":"link2 in","z":"e3f11726.dffe3","name":"gate 3","topic":"3","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":290,"y":160,"wires":[["7b5891fd.8ae0e"]]}]